/* Universal code */
html {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Source Sans Pro", Verdana, sans-serif;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header DESKTOP */

header .desktop  {
  display: flex;
  height: 4rem;
  margin: 0 1.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header #bold {
  font-weight: bold;
  color: black;
}

header span {
  letter-spacing: 0.1rem;
  height: 2.5rem;
  margin-top: 1rem;
  color: #A19EA9;
}

header a {
  margin-left: 1rem;
}

header .mobile {
  display: none;
}

/* Header MOBILE */



/* Header END */

/* Banner DESKTOP */
.banner .flex {
  display: flex;
  background-color: #A19EA9;
  justify-content: center;
  height: 32rem;
}

.banner-image {
  display: flex;
  width: 70%;
}

.banner-image img {
  height: 90%;
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text h1 {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}

.banner-text h3 {
  font-size: 1.5rem;
  line-height: 1.6rem;
  margin-bottom: 1.2rem;
}

.banner-text button {
  background-color: #5A585F;
  border: none;
  padding: 1rem 5rem;
  text-align: center;
}

button span {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
}
